<nav class="navbar">
  <ul class="navbar-links">
      <li><a class="button" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
      <li><a class="button" routerLink="/todos" routerLinkActive="active" ariaCurrentWhenActive="page">Todos</a></li>
      <li><a class="button" routerLink="/tasks" routerLinkActive="active" ariaCurrentWhenActive="page">Tasks</a></li>
      <li><a class="button" routerLink="/counter" routerLinkActive="active" ariaCurrentWhenActive="page">Counter</a></li>
      <li><a class="button" routerLink="/calculator" routerLinkActive="active" ariaCurrentWhenActive="page">Calculator</a></li>
      <li><a class="button" routerLink="/signup" routerLinkActive="active" ariaCurrentWhenActive="page">Signup</a></li>
      <li><a class="button" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a></li>
      <li><button class="button" (click)="onLogout()">Logout</button></li>
  </ul>
</nav>

<router-outlet></router-outlet>